<!--
Team Git Flasking - Addison Huang, Matthew Ming and Hasif Ahmed
SoftDev2 pd8
-->
<!DOCTYPE html>
<html>
  <head>
    <title></title> 
    
  </head>
  <body>

    Search for Nobel Prize Winners by Name
    <form action="/" method="POST">
      Name:
      <input type="text" name="name" id="name">
      <br>IP:
      <input type="text" name="ip" id="ip">
      <br>
      <input type="submit" name="submit" id="submit">
    </form>

    <div id="results">
      {{results}}
</div>
  </body>
</html>
